<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>

</head>

<body th:fragment="menu">
    <!-- BEGIN SIDEBAR -->
    <div class="page-sidebar-wrapper">
        <!-- BEGIN SIDEBAR -->
        <div class="page-sidebar navbar-collapse collapse">
            <!-- BEGIN SIDEBAR MENU -->
             <ul class="page-sidebar-menu   " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
                <li class="nav-item start active open">
                    <a href="javascript:;" class="nav-link nav-toggle">
                        <i class="icon-home"></i>
                        <span class="title">控制面板</span>
                        <span class="selected"></span>
                        <span class="arrow open"></span>
                    </a>
                    <ul class="sub-menu">
                        <li class="nav-item start active open">
                            <a href="/index" class="nav-link ">
                                <i class="icon-bar-chart"></i>
                                <span class="title">充电桩位置信息</span>
                                <span class="selected"></span>
                            </a>
                        </li>
                        <li class="nav-item start active open">
                            <a href="/flashPlaceCode" class="nav-link ">
                                <i class="icon-bar-chart"></i>
                                <span class="title">充电桩位置信息刷新(慎用)</span>
                                <span class="selected"></span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="heading">
                    <h3 class="uppercase">功能菜单</h3>
                </li>
                <li class="nav-item  ">
                    <a href="javascript:;" class="nav-link nav-toggle">
                        <i class="icon-user"></i>
                        <span class="title">用户管理</span>
                        <span class="arrow"></span>
                    </a>
                    <ul class="sub-menu">
                        <li class="nav-item  ">
                            <a href="/selectAllUserInfoList" class="nav-link ">
                                <span class="title">用户列表</span>
                            </a>
                        </li>
                        <li class="nav-item  ">
                            <a href="/modifyUserInfoPage" class="nav-link ">
                                <span class="title">新增用户</span>
                            </a>
                        </li>
                    </ul>
                </li>
                 <li class="nav-item  ">
                     <a href="javascript:;" class="nav-link nav-toggle">
                         <i class="icon-user"></i>
                         <span class="title">充电桩管理</span>
                         <span class="arrow"></span>
                     </a>
                     <ul class="sub-menu">
                         <li class="nav-item  ">
                             <a href="/selectAllChargeInfoList" class="nav-link ">
                                 <span class="title">充电桩列表</span>
                             </a>
                         </li>
                         <li class="nav-item  ">
                             <a href="/modifyChargeInfoPage" class="nav-link ">
                                 <span class="title">新增充电桩</span>
                             </a>
                         </li>
                     </ul>
                 </li>
                 <li class="nav-item  ">
                     <a href="javascript:;" class="nav-link nav-toggle">
                         <i class="icon-user"></i>
                         <span class="title">充电记录统计</span>
                         <span class="arrow"></span>
                     </a>
                     <ul class="sub-menu">
                         <li class="nav-item  ">
                             <a href="/chargeRecordTotal" class="nav-link ">
                                 <span class="title">充电桩统计</span>
                             </a>
                         </li>
                         <li class="nav-item  ">
                             <a href="/selectUserDetailList" class="nav-link ">
                                 <span class="title">用户充电情况</span>
                             </a>
                         </li>
                     </ul>
                 </li>
                 <li class="nav-item  ">
                     <a href="javascript:;" class="nav-link nav-toggle">
                         <i class="icon-user"></i>
                         <span class="title">充电桩充电模拟</span>
                         <span class="arrow"></span>
                     </a>
                     <ul class="sub-menu">
                         <li class="nav-item  ">
                             <a href="/charge" class="nav-link ">
                                 <span class="title">模拟充电</span>
                             </a>
                         </li>
                         <li class="nav-item  ">
                             <a href="/checkChargePage" class="nav-link ">
                                 <span class="title">模拟充电桩参数校验</span>
                             </a>
                         </li>
                     </ul>
                 </li>
            </ul>
            <!-- END SIDEBAR MENU -->
        </div>
        <!-- END SIDEBAR -->
    </div>
    <!-- END SIDEBAR -->



</body>
</html>