<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyt.charging.provider.mapper.ChargeInfoMapper">
  <resultMap id="BaseResultMap" type="com.zyt.charging.provider.entity.domain.ChargeInfoDO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="charge_times" jdbcType="INTEGER" property="chargeTimes" />
    <result column="price" jdbcType="INTEGER" property="price" />
    <result column="power" jdbcType="INTEGER" property="power" />
    <result column="price_type" jdbcType="INTEGER" property="priceType" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="place_code" jdbcType="VARCHAR" property="placeCode" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <insert id="insertChargeInfo" useGeneratedKeys="true" keyProperty="id" parameterType="com.zyt.charging.provider.entity.domain.ChargeInfoDO">
    INSERT INTO charging.charge_info (
    charge_times,
    price,
    power,
    price_type,
    status,
    code,
    city,
    place_code,
    `type`,
    create_time,
    update_time
    )
    VALUES (
    #{chargeTimes},
    #{price},
    #{power},
    #{priceType},
    #{status},
    #{code},
    #{city},
    #{placeCode},
    #{type},
    now(), now()
    )
  </insert>

  <update id="updateChargeInfo" parameterType="com.zyt.charging.provider.entity.domain.ChargeInfoDO">
    update charging.charge_info
    <set>
      <if test="chargeTimes != null">
        charge_times = #{chargeTimes},
      </if>
      <if test="price != null">
        price = #{price},
      </if>
      <if test="power != null">
        power = #{power},
      </if>
      <if test="priceType != null">
        price_type = #{priceType},
      </if>
      <if test="status != null">
        status = #{status},
      </if>
      <if test="code != null">
        code = #{code},
      </if>
      <if test="city != null">
        city = #{city},
      </if>
      <if test="placeCode != null">
        place_code = #{placeCode},
      </if>
      <if test="type != null">
        type = #{type},
      </if>
        update_time = now()
    </set>
    where id = #{id}
  </update>

  <select id="selectChargeInfo" resultMap="BaseResultMap" parameterType="com.zyt.charging.provider.entity.domain.ChargeInfoDO">
    select * FROM
    charging.charge_info
    <where>
      <if test="status != null">
        and status = #{status}
      </if>
      <if test="city != null and city != ''">
        and city like concat(#{city}, '%')
      </if>
      <if test="type != null">
        and `type` = #{type},
      </if>
    </where>
  </select>

  <select id="selectChargeInfoById" resultMap="BaseResultMap" parameterType="java.lang.Long">
    select * from
    charging.charge_info
    where id = #{id}
  </select>

  <select id="selectChargeInfoByCode" resultMap="BaseResultMap" parameterType="java.lang.String">
    select * from
    charging.charge_info
    where code = #{code}
  </select>

</mapper>