<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyt.charging.provider.mapper.ChargeInfoMapper">
  <resultMap id="BaseResultMap" type="com.zyt.charging.provider.entity.domain.ChargeInfoDO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <id column="brands_id" jdbcType="BIGINT" property="brandsId" />
    <result column="charge_times" jdbcType="INTEGER" property="chargeTimes" />
    <result column="price" jdbcType="INTEGER" property="price" />
    <result column="price_type" jdbcType="INTEGER" property="priceType" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="place_code" jdbcType="VARCHAR" property="placeCode" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="brands" jdbcType="VARCHAR" property="brands" />
    <result column="pic_url" jdbcType="VARCHAR" property="picUrl" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="voltage" jdbcType="VARCHAR" property="voltage" />
    <result column="frequency" jdbcType="VARCHAR" property="frequency" />
    <result column="current" jdbcType="VARCHAR" property="current" />
    <result column="active_power" jdbcType="VARCHAR" property="activePower" />
    <result column="reactive_power" jdbcType="VARCHAR" property="reactivePower" />
    <result column="active_electric" jdbcType="VARCHAR" property="activeElectric" />
    <result column="reactive_electric" jdbcType="VARCHAR" property="reactiveElectric" />
    <result column="node_info_id" jdbcType="BIGINT" property="nodeInfoId" />
    <result column="receive_report_id" jdbcType="BIGINT" property="receiveReportId" />
  </resultMap>

  <insert id="insertChargeInfo" useGeneratedKeys="true" keyProperty="id" parameterType="com.zyt.charging.provider.entity.domain.ChargeInfoDO">
    INSERT INTO charging.charge_info (
    charge_times,
    brands_id,
    price,
    price_type,
    status,
    code,
    city,
    place_code,
    `type`,
    brands,
    pic_url,
    create_time,
    update_time,
    voltage,
    frequency,
    `current`,
    active_power,
    reactive_power,
    active_electric,
    reactive_electric,
    node_info_id,
    receive_report_id
    )
    VALUES (
    0,
    #{brandsId},
    #{price},
    #{priceType},
    0,
    #{code},
    #{city},
    #{placeCode},
    #{type},
    #{brands},
    #{picUrl},
    now(), now(),
    #{voltage},
    #{frequency},
    #{current},
    #{activePower},
    #{reactivePower},
    #{activeElectric},
    #{reactiveElectric},
    #{nodeInfoId},
    #{receiveReportId}
    )
  </insert>

  <update id="updateChargeInfo" parameterType="com.zyt.charging.provider.entity.domain.ChargeInfoDO">
    update charging.charge_info
    <set>
      <if test="chargeTimes != null">
        charge_times = #{chargeTimes},
      </if>
      <if test="price != null">
        price = #{price},
      </if>
      <if test="priceType != null">
        price_type = #{priceType},
      </if>
      <if test="status != null">
        status = #{status},
      </if>
      <if test="code != null">
        code = #{code},
      </if>
      <if test="city != null">
        city = #{city},
      </if>
      <if test="placeCode != null">
        place_code = #{placeCode},
      </if>
      <if test="type != null">
        `type` = #{type},
      </if>
      <if test="brands != null">
        brands = #{brands},
      </if>
      <if test="picUrl != null">
        pic_url = #{picUrl},
      </if>
        update_time = now()
    </set>
    where id = #{id}
  </update>

  <select id="selectChargeInfo" resultMap="BaseResultMap" parameterType="com.zyt.charging.provider.entity.domain.ChargeInfoDO">
    select * FROM
    charging.charge_info
    <where>
      <if test="status != null">
        and status = #{status}
      </if>
      <if test="city != null and city != ''">
        and city like concat(#{city}, '%')
      </if>
      <if test="type != null">
        and `type` = #{type},
      </if>
    </where>
  </select>

  <select id="selectChargeInfoById" resultMap="BaseResultMap" parameterType="java.lang.Long">
    select * from
    charging.charge_info
    where id = #{id}
  </select>

  <select id="selectChargeInfoByCode" resultMap="BaseResultMap" parameterType="java.lang.String">
    select * from
    charging.charge_info
    where code = #{code}
  </select>

  <select id="countChargeInfo" resultType="java.lang.Integer" parameterType="com.zyt.charging.provider.entity.domain.CountCondition">
    select COUNT(*) FROM
    charging.charge_info
    <where>
      <if test="startTime != null">
        and create_time > #{startTime}
      </if>
      <if test="endTime != null">
        and #{endTime} > create_time
      </if>
      <if test="brands != null">
        and brands = #{brands}
      </if>
      <if test="status != null">
        and status = #{status}
      </if>
    </where>
  </select>

</mapper>